@font-face {
  font-family: 'MyInter'; 
  src: url('./assets/fonts/Inter_Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MyInter';
  src: url('./assets/fonts/Inter_Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-gray-50;
}
